#cloud-config
hostname: ${hostname}
manage_etc_hosts: true
package_update: true
#package_upgrade: true
packages:
  - qemu-guest-agent
users:
  - name: test
    passwd: "$6$Ph8aFOsEWOMFsXWH$a4RNYR6p8QysgojFRSfy45zoctOWzX13F/jmA2dtuPg/A/ThDBbg91SyByr9QvMVDVWUY.6Viz5ICvziTPSGW0"
    ssh_authorized_keys:
      - ${ssh_public_key}
    shell: /bin/bash
    lock_passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
runcmd:
  - systemctl start qemu-guest-agent
  - systemctl enable qemu-guest-agent



# Опционально: выводить логи cloud-init в консоль для отладки
# output:
#   all: '| tee -a /var/log/cloud-init-output.log'
